backend/*#
backend/*.iml
backend/*.ipr
backend/*.iws
backend/*.jar
backend/*.sw?
backend/*~
backend/.#*
backend/.*.md.html
backend/.DS_Store
backend/.attach_pid*
backend/.classpath
backend/.factorypath
backend/.gradle
backend/.idea
backend/.metadata
backend/.project
backend/.recommenders
backend/.settings
backend/.springBeans
backend/.vscode
backend/code
backend/MANIFEST.MF
backend/_site/
backend/activemq-data
backend/bin
backend/build
backend/!/**/src/**/bin
backend/!/**/src/**/build
backend/build.log
backend/dependency-reduced-pom.xml
backend/dump.rdb
backend/interpolated*.xml
backend/lib/
backend/manifest.yml
backend/out
backend/overridedb.*
backend/target
backend/.flattened-pom.xml
backend/secrets.yml
backend/.gradletasknamecache
backend/.sts4-cache

frontend/frontoffice/node_modules/
frontend/frontoffice/sample*/
frontend/frontoffice/sample-app/
frontend/frontoffice/deploy/
frontend/frontoffice/dist/
frontend/frontoffice/.idea/
frontend/frontoffice/npm-debug.log
frontend/frontoffice/.DS_Store
frontend/frontoffice/Thumbs.db
frontend/frontoffice/TODO


frontend/backoffice/.DS_STORE

frontend/backoffice/dist/
frontend/backoffice/bazel-out
frontend/backoffice/integration/bazel/bazel-*
frontend/backoffice/*.log
frontend/backoffice/node_modules

# CircleCI temporary file for cache key computation.
# See `save_month_to_file` in `.circleci/config.yml`.
frontend/backoffice/month.txt

# Include when developing application packages.
frontend/backoffice/pubspec.lock
frontend/backoffice/.c9
frontend/backoffice/.idea/
frontend/backoffice/.devcontainer/*
frontend/backoffice/!.devcontainer/README.md
frontend/backoffice/!.devcontainer/recommended-devcontainer.json
frontend/backoffice/!.devcontainer/recommended-Dockerfile
frontend/backoffice/.settings/
frontend/backoffice/.vscode/launch.json
frontend/backoffice/.vscode/settings.json
frontend/backoffice/.vscode/tasks.json
frontend/backoffice/*.swo
frontend/backoffice/*.swp
frontend/backoffice/modules/.settings
frontend/backoffice/modules/.vscode
frontend/backoffice/.vimrc
frontend/backoffice/.nvimrc

# Don't check in secret files
frontend/backoffice/*secret.js

# Ignore npm/yarn debug log
frontend/backoffice/npm-debug.log
frontend/backoffice/yarn-error.log

# build-analytics
frontend/backoffice/.build-analytics

# rollup-test output
frontend/backoffice/modules/rollup-test/dist/

# User specific bazel settings
frontend/backoffice/.bazelrc.user

# User specific ng-dev settings
frontend/backoffice/.ng-dev.user*

frontend/backoffice/.notes.md
frontend/backoffice/baseline.json

# Ignore .history for the xyz.local-history VSCode extension
frontend/backoffice/.history

# Husky
frontend/backoffice/.husky/_