
    <div class="form-group">
      <label for="marque">Marque</label>
      <input type="text" class="form-control" id="marque" aria-describedby="emailHelp" placeholder="Entrer la marque du voiture" [(ngModel)]="voiture.marque">
      
    </div>
    
    <div class="row">
      <label for="couleur">Couleur</label>
      <div class="col">
        <input type="number" class="form-control" placeholder="R" id="couleur_rouge" [(ngModel)]="voiture.couleur_rouge">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="G" id="couleur_vert" [(ngModel)]="voiture.couleur_vert">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="B" id="couleur_blue" [(ngModel)]="voiture.couleur_blue">
      </div>
    </div>
    <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" class="form-control" id="matricule" [(ngModel)]="voiture.matricule">
      </div>
      
      <div class="form-group">
        <label for="date">Date de fabrication</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="voiture.dateDeFabrication">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Type Carburant</label>
        <select id="inputState" class="form-control" [(ngModel)]="voiture.typeCarburant">
          <option selected>ESSENCE</option>
          <option>DIESEL</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Conducteur</label>
        <select [(ngModel)]="voiture.conducteur">
          <option *ngFor="let conducteur of conducteurs" [value]="conducteur.id">
            {{conducteur.name}}
          </option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary" (click)="addVoiture()">Submit</button>
